body {
  background-image: url(img/bananaShop.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  font-family: "Courier New", Courier, monospace;
  color: white;
  text-align: center;
}
